.App{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.inter-medium{
    font-weight: 600;
}

.inter-semi-bold{
    font-weight: 700;
}

.inter-bold{
    font-weight: 800;
}

.inter-extra-bold{
    font-weight: 900;
}